<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New user</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
        form {
            max-width: 400px;
            margin: 0 auto;
            margin-top: 20px;
        }

        label {
            margin-top: 10px;
        }

        input[type="text"] {
            margin-bottom: 10px;
        }

        input[type="submit"] {
            margin-top: 15px;
        }
    </style>
</head>
<body>

<div class="container">
    <form th:method="POST" th:action="@{/admin/saveUser}" th:object="${user}">

        <label for="username">Enter name: </label>
        <input type="text" th:field="*{userName}" id="username" class="form-control"/>

        <label for="password">Enter age: </label>
        <input type="text" th:field="*{password}" id="password" class="form-control"/>

        <label for="email">Enter email: </label>
        <input type="text" th:field="*{email}" id="email" class="form-control"/>

        <div class="mb-3">
            <label>Roles:</label>
            <div th:each="role : ${allRoles}">
                <input type="checkbox" th:id="${'role_' + role.getId()}"
                       th:value="${role.getId()}" th:field="*{roles}"
                />

                <label th:for="${'role_' + role.getId()}" th:text="${role.getName()}"></label>
            </div>
        </div>


        <input type="submit" value="Save User" class="btn btn-primary"/>
    </form>
</div>

</body>
</html>