<!--<!DOCTYPE html>-->
<!--<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
<!--    <link rel="stylesheet" href="/css/styles.css">-->
<!--    <title>User Details</title>-->
<!--</head>-->
<!--<body>-->

<!--<div class="container mt-5">-->
<!--    <div class="text-center">-->
<!--        <h1>User Details</h1>-->
<!--    </div>-->

<!--    <table class="table table-bordered">-->
<!--        <thead>-->
<!--        <tr>-->
<!--            <th>ID</th>-->
<!--            <th>Username</th>-->
<!--            <th>Password</th>-->
<!--            <th>Email</th>-->
<!--            <th>Role</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        <tr th:object="${user}">-->
<!--            <td th:text="${user.getId()}"></td>-->
<!--            <td th:text="${user.getUserName()}"></td>-->
<!--            <td th:text="${user.getPassword()}"></td>-->
<!--            <td th:text="${user.getEmail()}"></td>-->
<!--            <td>-->
<!--                <span th:each="role: ${user.roles}" th:text="${role.name} + ', '"></span>-->
<!--            </td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--    </table>-->

<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <meta charset="UTF-8"/>
    <title>User Details</title>
</head>
<body>
<!-- Хедер-->
<header class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid d-flex justify-content-between align-items-center">
        <div class="d-flex me-3">
            <span class="navbar-text h3 me-3"
                  th:text="${currentUser.getUserName()} + ' with role ' + ${currentUser.getRoleNames()}"></span>
        </div>
        <form class="mt-3" th:action="@{/logout}" th:method="post">
            <button class="btn btn-dark text-secondary" type="submit">Logout</button>
        </form>
    </div>
</header>
<div class="container-fluid h-100">

    <div class="row h-100">
        <div class="col-3 d-flex flex-column flex-shrink-0 p-3 bg-white">

            <div class="mt-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="#" id="user-nav-link" data-bs-toggle="tab"
                           data-bs-target="#user-panel"
                           type="button" role="tab" aria-controls="user-panel" aria-selected="false">User</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-9 bg-light gx-5 py-3 tab-content">
            <div class="tab-pane fade show" id="user-panel" role="tabpanel" aria-labelledby="user-nav-link">
                <h3 class="text-start"> User information-page</h3>
                <h5 class="card-header">About user</h5>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Username</th>
                        <th>Password</th>
                        <th>Email</th>
                        <th>Role</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:object="${currentUser}">
                        <td th:text="${currentUser.getId()}"></td>
                        <td th:text="${currentUser.getUserName()}"></td>
                        <td th:text="${currentUser.getPassword()}"></td>
                        <td th:text="${currentUser.getEmail()}"></td>
                        <td>
                            <span th:each="role: ${currentUser.roles}" th:text="${currentUser.getRoleNames()} + ', '"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>









<!--    <a class="btn btn-primary" th:href="@{/templates/admin}">Back to Users List</a>-->
<!--    <br/>-->
<!--    <form class="mt-3" th:action="@{/logout}" th:method="post">-->
<!--        <button class="btn btn-danger" type="submit">Logout</button>-->
<!--    </form>-->
<!--</div>-->

<!--</body>-->
<!--</html>-->
